/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf2e3;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 20px; /* Aumentamos el padding */
    position: fixed; /* Fijamos el header en la parte superior */
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Agregamos sombra */
}


header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    align-content: center;
    font-size: 24px;
}

/* Botón de Volver */
.logout-btn {
    display: block; 
    margin: 10px auto; 
    background-color: #000000;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    max-width: 200px; 
}

.logout-btn:hover {
    background-color: #d3a51a;
    outline: none;
}


.container {
    margin-top: 250px;
    background: white;
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    text-align: center; /* Centramos el contenido */
}

/* Tabla */
table {
    width: 90%; /* Ajustamos el ancho para que no se corte en pantallas pequeñas */
    max-width: 600px; /* Máximo ancho de la tabla */
    margin: 20px auto; /* Centrar horizontalmente */
    border-collapse: collapse;
    background-color: #f9fff2;
    border-radius: 8px;
    overflow: hidden;
}

th {
    color: black;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.1em;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

/* Mensaje de error */
.error-message {
    color: #c62828;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffebee;
    border: 1px solid #e57373;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

/* Botón */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

button:hover {
    background-color: orange;
    transform: scale(1.05);
}
